p{
    font-family: bald;
    color: black;
    font-size: larger;
    margin-left: 50px;
}
p.blue{
    font-family: bald;
    color: white;
    font-size: larger;
    margin-left: 50px;
}
#main{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#center{
    display: flex;
}
#div1{
    width: 902px;
    background-color: blue;
    height: 150px;

}
#div2{
    width: 300px;
    background-color: yellow;
    height: 1500px;
}
#div3{
    width: 300px;
    background-color: white;
    height: 1500px;
}
#div4{
    width: 300px;
    background-color: yellow;
    height: 1500px;
}
#div5{
    width: 902px;
    background-color: blue;
    height: 150px;
}
#div1, #div2, #div4, #div5{
    padding-top: 50px;
    margin-right: 0px;
    border: 1px solid black;
}